<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- vue -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> 

  <!-- Font-awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- googlefont -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

  <!-- custom css -->
  <link rel="stylesheet" href="./css/style.css">

  <title>TDAH</title>

</head>
<body>
  <div id="app" class="container">
    <div class="logo">
      <img src="img/logo.svg" alt="logo">
    </div>
    <div class="new-task">
      <input 
      type="text" 
      placeholder="New Task"
      v-model.trim="newTask"
      @keyup.enter="addNewTask">
      <button @click="addNewTask">Add Me</button>
      <p v-if="isError" class="error">The new task have to have at least 5 characters</p>
    </div>
    
    <div class="task-container">
      <ul v-if="tasks.length > 0">
        <li v-for="task in tasks">
          <span>{{task}}</span>
          <i class="fa-solid fa-xmark"></i>
        </li>
      </ul>
      <h3 v-else>There is no task to do</h3>
    </div>

  </div>
  <script src="js/script.js"></script>
</body>
</html>